<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Delivery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/deliveries.css"> <!-- Link to the external CSS file -->
</head>
<body>
    <div class="container">
        <!-- Page Content -->
        <h1 class="mt-4">Edit Customer Delivery Information</h1>
            <div class="text-center">
              <br/>
              <form action="" th:object="${deliveries}" method="post">
                  <table border="0" cellpadding="10">
                    <tr>
                        <td>Client ID:</td>
                        <td><input type="text" class="form-control" id="C_ID" name="C_ID" th:field="${deliveries.C_ID}" required /></td>
                    </tr>
                    <tr>
                        <td>Employee Assigned:</td>
                        <td><input type="text" class="form-control" id="Employee_Assigned" name="Employee_Assigned" th:field="${deliveries.Employee_Assigned}" pattern="[0-9]*" required /></td>
                    </tr>
                    <tr>
                        <td>Delivery Status:</td>
                        <td><input type="text" class="form-control" id="D_Status" name="D_Status" th:field="${deliveries.D_Status}" required /></td>
                    </tr>
                    <tr>
                        <td>Delivery Date:</td>
                        <td><input type="text" class="form-control" id="D_Date" name="D_Date" th:value="${#dates.format(deliveries.D_Date, 'yyyy-MM-dd')}" required /></td>
                    </tr>
                    <tr>
                        <td>Amount:</td>
                        <td><input type="text" class="form-control" id="Amount" name="Amount" th:field="${deliveries.Amount}" pattern="[0-9]*" required /></td>
                    </tr>
                    <tr>
                        <td>Payment Status:</td>
                        <td><input type="text" class="form-control" id="P_Status" name="P_Status" th:field="${deliveries.P_Status}" required /></td>
                    </tr>
                    <!-- Add more input fields for other attributes as needed -->
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
            </div>
      <!-- /#page-content-wrapper -->
    </div>
    <a href="/Employees" class="btn btn-secondary mt-3" style="background-color: #FFC107 ; border: none">Back</a>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
