<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dear Diet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/home.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src = "/images/logo.png"></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#about">ABOUT</a></li>
              <li><a href="#products">PRODUCTS</a></li>
              <li><a href="#contact">CONTACT</a></li>
                <li><a href="/login">LOGIN</a></li>
            </ul>
          </div>
        </div>
      </nav>
<div class="jumbotron text-center">
  <h1>DEAR DIET</h1>
  <p>We specialize in Food Items Distribution Supply Chain</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
    <h2 id="about">About Us</h2>
    <p>At Dear Diet, we are the pivotal link in the food supply chain, bridging the gap between discerning manufacturers and eager retailers. With a commitment to excellence, we've mastered the art of timely and efficient distribution, ensuring that quality products reach their intended destinations without delay.
        <br>
        <br>
        Our dedication to precision, reliability, and quality sets us apart. We take pride in our role as the catalyst for success, helping manufacturers reach a broader market and retailers access a consistent stream of high-quality products.
        <br>
        <br>
        At the heart of our operations is a passion for food, a commitment to sustainability, and a vision for a better-connected, more flavorful world. Trust us to bring your favorite flavors to your doorstep, on time, every time.
    </p>
  </div>
  <div class="col-sm-4">
    <span class="glyphicon glyphicon-signal logo"></span>
  </div>
</div>
</div>
<div class="container-fluid text-center">
    <h2 id="products">PRODUCTS</h2>
    <h4>Featured</h4>
    <br>
    <div class="row">
      <div class="col-sm-4 text-center">
        <img src = "/images/hul.png"></img>
        <h4>Hindustan Unilever</h4>
      </div>
      <div class="col-sm-4">
        <img src = "/images/nestle.png"></img>
        <h4>Nestle</h4>
      </div>
      <div class="col-sm-4">
        <img src = "/images/mother_dairy.jpg"></img>
        <h4>Mother Dairy</h4>
      </div>
      </div>
      <br><br>
    <div class="row">
      <div class="col-sm-4">
        <img src = "/images/parle.png"></img>
        <h4>Parle</h4>
        
      </div>
      <div class="col-sm-4">
        <img src = "/images/britannia.png"></img>
        <h4>Britannia</h4>
      </div>
      <div class="col-sm-4">
        <img src = "/images/marico.png"></img>
        <h4>Marico</h4>
      </div>
    </div>
  </div>
<div class="container-fluid bg-grey text-center">
    <h2 class="text-center" id="contact">CONTACT US</h2>
    <p><span class="glyphicon glyphicon-map-marker"></span> Ghaziabad, Uttar Pradesh</p>
    <p><span class="glyphicon glyphicon-phone"></span> +91 9811033166</p>
    <p><span class="glyphicon glyphicon-envelope"></span> deardiet@gmail.com</p>
</div>
</body>
</html>
