<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Order Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/customer.css"> <!-- Link to the external CSS file -->
</head>
<body>
    <div id="sidebar" class="sidenav">
        <div class="menu-container">
            <h2><big><b>Menu</b></big></h2>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="/dashboard" class="btn btn-block btn-primary sidebar-button">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="/Customers" class="btn btn-block btn-primary sidebar-button">
                    Customers
                </a>
            </li>
            <li>
                <a href="/CustomerDeliveries" class="btn btn-block btn-primary sidebar-button">
                    Customer Deliveries
                </a>
            </li>
            <li>
                <a href="/Payments" class="btn btn-block btn-primary sidebar-button">
                    Payments
                </a>
            </li>
            <li>
                <a href="/suppliers" class="btn btn-block btn-primary sidebar-button">
                    Suppliers
                </a>
            </li>
            <li>
                <a href="/SupplierOrders" class="btn btn-block btn-primary sidebar-button">
                    Supplier Orders
                </a>
            </li>
            <li>
                <a href="/Products" class="btn btn-block btn-primary sidebar-button">
                    Products
                </a>
            </li>
            <li>
                <a href="/Employees" class="btn btn-block btn-primary sidebar-button">
                    Employees
                </a>
            </li>

                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="btn btn-block btn-primary sidebar-button">Logout</a></li>
                </ul>
            </div>
        </ul>
    </div>
    <div class="container">
        <!-- Page Content -->
        <h1 class="mt-4">Add Product Information</h1>
            <div class="text-center">
              <br/>
              <form method="post" th:action = "'/SupplierOrders/view/'+${orderItem.Bill_No}+'/create'">
                  <table border="0" cellpadding="10">
                    <tr>
                        <td><input type="hidden" class="form-control" id="bID" name="bID" th:field="${orderItem.Bill_No}" required /></td>
                    </tr>
                    <tr>
                        <td>Product ID:</td>
                        <td><input type="text" class="form-control" id="ID" name="ID" th:field="${orderItem.P_ID}" pattern="P[0-9]*" required /></td>
                    </tr>
                    <tr>
                        <td>Quantity:</td>
                        <td><input type="text" class="form-control" id="Quantity" name="Quantity" th:field="${orderItem.Quantity}" required /></td>
                    </tr>
                    <tr>
                        <td>Rate:</td>
                        <td><input type="text" class="form-control" id="Rate" name="Rate" th:field="${orderItem.Rate}" pattern="[0-9]*" required /></td>
                    </tr>
                    <!-- Add more input fields for other attributes as needed -->
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
            </div>
      <!-- /#page-content-wrapper -->
    </div>
    <a href="/SupplierOrders" class="btn btn-secondary mt-3" style="background-color: #FFC107 ; border: none">Back</a>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        let sidebarOpen = false;
    
        function toggleNav() {
            const sidebar = document.getElementById("sidebar");
            const main = document.getElementById("main");
            const hamburgerButton = document.querySelector('.openbtn');
    
            if (!sidebarOpen) {
                sidebar.style.width = "250px";
                main.style.marginLeft = "250px";
                hamburgerButton.textContent = '✕';
                hamburgerButton.classList.add('shifted');
            } else {
                sidebar.style.width = "0";
                main.style.marginLeft = "0";
                hamburgerButton.textContent = '☰';
                hamburgerButton.classList.remove('shifted');
            }
    
            sidebarOpen = !sidebarOpen;
        }
    </script>

</body>
</html>
