header {
    background-color: #000000;
    color: #fff;
    padding: 1rem 0;
    height: 50px;
}
nav{
    text-align: right;
}
nav ul {
    margin-top:13px;
    list-style:armenian;
    /* align-self: right; */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}